extends ../../layouts/default

block content
  section.row.section-msg
    .col-sm-12
      img(src='/images/error.jpg', alt='A playfull kitten')
      h2.section-msg__title 404
      p.section-msg__info Вибачте, такої сторінки не існує :(
      a.section-msg__back.basic-btn.red.large(href='/')
        i.fa.fa-angle-left(aria-hidden='true')
        |  Повернутися на головну