extends ../../layouts/default

block content
  section.row.section-error
    .col-sm-12
      img(src='/images/error.jpg', alt='A playfull kitten')
      h2.section-error__title 500
      p.section-error__info Вибачте, на сервері сталася помилка :(
      a.section-error__back.basic-btn.red.large(href='/')
        i.fa.fa-angle-left(aria-hidden='true')
        |  Повернутися на головну