extends ../layouts/default


block content
  include ../mixins/preview

  main.content.gallery
    h2.content-title= album.title
    .container
      .row.filter-wrapper
        .basic-btn.yellow.filter-button.active(data-filter='all') Все
        .basic-btn.yellow.filter-button(data-filter='photo') Фото
        .basic-btn.yellow.filter-button(data-filter='video') Відео
      .row.centered-items
        each item in album.sections
          +preview({
            title: item.title,
            attrs: {'data-type': item.type},
            date: album.publishedDate,
            bgSRC: item.type === 'photo' ? item.photo.url : album.heroImage.url,
            link: item.type === 'video' ? item.video : null,
            gallery: true,
          })