extends ../layouts/default


block content
  include ../mixins/preview

  main.content.gallery
    h2.content-title Галерея
    .container
      .row.gallery-wrapper.centered-items
        each album in albums
          +preview({
            title: album.title,
            date: album.publishedDate,
            bgSRC: album.heroImage.url,
            stripy: 'blue',
            link: `/album/${album.slug}`,
          })