extends ../layouts/default

block content
  section.row.section-404
    .col-sm-12
      p.section-404__info Ваше звернення отримано :)
      a.section-404__back.basic-btn.yellow.large(href='/')
        i.fa.fa-angle-left(aria-hidden='true')
        |  Повернутися на головну