extends ../layouts/default

mixin quote(author, text, avatar)
  blockquote.quotes-slider__slide!= text
    cite.quotes-slider__author=author
    img.quotes-slider__photo(src=avatar.url, height='46', width='46', alt='', title='')

block content
  .preloader
    .preloader__inner
      .preloader__gear
      .preloader__logo
  .intro
    .container
      .col-md-6
        h1.intro__title Lorem Ipsum is simply
        p.intro__p Lorem Ipsum
        a.basic-btn.red.intro__btn(href='https://docs.google.com/forms/d/e/1FAIpQLSfrSVaZQDWh3WFHDEAX_49ysAvfU5comCSM-XBJP-QZt1XWzQ/viewform') Зареєструватись
        //- button.intro__btn-video(type='button')
        //-   i.fa.fa-play-circle(aria-hidden='true')
        //-   |  Дивитись відео
  main.content
    section.section.mission-section
      .container
        .row
          h3.mission-section__title Місія
        .row.cols-wrapper
          .col-xs-6.col-sm-4
            p
              | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          .col-xs-6.col-sm-4
            p
              | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          .col-xs-offset-4.col-xs-4.robo-wrapper
            img(src='/images/icons/robo.svg', alt='RoboClub IF')
    section.section.quotes-section
      .container
        .quotes-slider
          each quote in quotes
            +quote(quote.author, quote.text, quote.authorAvatar)
    section.section
      .container
        h2.section__title Останні новини
        br
        .row
          +preview({
            title: 'Lorem ipsum dolor sit amet',
            date: '20 січня 2017',
            link: './article.html',
            bgSRC: './images/news_1.jpg',
          })
          +preview({
            title: 'Lorem ipsum dolor sit amet',
            date: '20 січня 2017',
            link: './article.html',
            bgSRC: './images/news_2.jpg',
            blue: true,
          })
          +preview({
            title: 'Lorem ipsum dolor sit amet',
            date: '20 січня 2017',
            link: './article.html',
            bgSRC: './images/news_3.jpg',
          })
          +preview({
            title: 'Lorem ipsum dolor sit amet',
            date: '20 січня 2017',
            link: './article.html',
            bgSRC: './images/news_4.jpg',
            blue: true,
          })
        a(href='/posts')
          button.basic-btn.yellow.centered(type='button') Всі новини
    section.section.ready.dark
      .container
        h2.section__title Готові розпочати?
        h3.section__subtitle Lorem Ipsum is simply dummy text of the printing and typesetting industry
        a.basic-btn.yellow.centered(href='https://docs.google.com/forms/d/e/1FAIpQLSfrSVaZQDWh3WFHDEAX_49ysAvfU5comCSM-XBJP-QZt1XWzQ/viewform') Зареєструватись
    section.section.partners.container
      h2.section__title Наші партнери
      .partners-list
        .item
          a(href='#')
            img(src='./images/icons/partners_1.jpg')
        .item
          a(href='#')
            img(src='./images/icons/partners_2.jpg')
        .item
          a(href='#')
            img(src='./images/icons/partners_3.jpg')
        .item
          a(href='#')
            img(src='./images/icons/partners_4.jpg')
        .item
          a(href='#')
            img(src='./images/icons/partners_5.jpg')
        .item
          a(href='#')
            img(src='./images/icons/partners_6.jpg')
        .item
          a(href='#')
            img(src='./images/icons/partners_7.jpg')