extends ../layouts/default


block content
  main.content.mission
    h2.content-title Місія
    .container-fluid
      if donation.putAfterMission > missions.length
        -donation.putAfterMission = 0

      each mission, index in missions
        +mission(mission)

        if index + 1 === donation.putAfterMission
          +donation(donation)
