extends ../layouts/default


block content
  script.
    console.log(!{JSON.stringify(mission)})
  main.content.mission
    h2.content-title Місія
    .container-fluid
      .title-line-wrapper
        .title-line.title-right.title-blue
          img(src='./images/icons/logo-gear.svg', alt='')
          h2 Соціальне навантаження
      .row.articles-row
        .col-md-4.column-wrapper
          .column.right-column
            h3.subtitle Codeclub
            span Proident incididunt incididunt ex anim quis deserunt consectetur consequat laboris minim sunt amet cillum qui nisi id amet tempor culpa excepteur id dolore dolore nulla pariatur qui veniam officia consequat labore tempor amet ea duis dolore nulla dolor amet irure qui deserunt ut tempor elit ullamco deserunt elit irure non aliquip magna proident culpa quis nulla magna est esse ad deserunt adipisicing aliqua proident eu ut dolor anim aute eu esse in do officia ex adipisicing adipisicing consequat sed veniam non incididunt qui consequat sunt laboris culpa culpa irure eiusmod culpa nostrud ut voluptate qui elit consequat sit est laborum est sun.
        .col-md-4.column-wrapper
          .column
            h3.subtitle &nbsp;
            span Ad quis aliqua fugiat quis officia minim do commodo in ut cillum quis dolore velit sint ad incididunt dolor eu deserunt duis in nulla aute ullamco laborum commodo fugiat et labore occaecat nulla sunt tempor sunt ut sint culpa ut ad exercitation nostrud adipisicing est exercitation irure fugiat ut ut esse do eiusmod dolore culpa consequat ex in qui commodo commodo pariatur veniam anim nisi in nisi laborum laboris adipisicing cillum in ad nulla sed elit in excepteur pariatur fugiat in dolor dolore sunt cupidatat velit consectetur aute minim consequat enim laboris culpa sunt id magna esse consequat voluptate mollit incididunt tempor ea dolor excepteur mollit reprehenderit dolore irure dolore ut mollit anim elit cupidatat consequat esse occaecat et quis in eu pariatur nisi et in irure quis anim aute minim cillum tempor ut magna reprehenderit labore sit occaecat elit culpa ex cupidatat mollit ut quis dolor sed exercitation ad qui nostrud.
        .col-md-4.column-wrapper
          .column
            img.image-right(src='./images/intro-bg.jpg', alt='Image')
      .row.articles-row
        .col-md-4.column-wrapper
          .column
            img.image-left(src='./images/intro-bg.jpg', alt='Image')
        .col-md-4.column-wrapper
          .column
            h3.subtitle Roboclub
            span Elit minim nisi consectetur consectetur aliqua ut officia id commodo tempor consequat adipisicing nostrud amet cillum cillum esse labore consequat id do eiusmod quis excepteur magna labore fugiat dolore laborum voluptate officia laboris culpa amet dolor fugiat ea labore cillum reprehenderit occaecat non in proident anim id enim do voluptate et do fugiat in ea sint commodo pariatur tempor proident magna sint in dolor eiusmod minim laboris cillum dolor in magna ut in ex quis laborum dolore enim qui aute sit id et non et excepteur cillum amet tempor commodo mollit ullamco sint et sunt consectetur pariatur quis exercitation ea nostrud sunt in proident ut labore in nisi esse sed aliqua nisi consequat veniam dolor elit magna esse dolore nisi nulla culpa ea amet est dolor ut aute qui in consequat dolore labore incididunt dolor duis officia in ullamco aliquip ad amet et magna cupidatat ex esse aliqua proident ad dolor culpa exercitation dolor cupidatat elit esse id dolore laboris incididunt culpa eiusmod enim ea ut nostrud ut ad do pariatur occaecat duis in enim dolor ullamco culpa occaecat sint elit irure cupidatat nisi nostrud aute aliquip.
        .col-md-4.column-wrapper
          .column.left-column
            h3.subtitle &nbsp;
            span Reprehenderit ad consequat sunt tempor pariatur qui id dolor magna qui incididunt sed cillum in excepteur laborum ullamco elit tempor pariatur dolore aliquip fugiat fugiat enim consequat in cillum voluptate commodo dolor aute dolore elit est ea ut ex ex in sed nulla officia in mollit commodo exercitation commodo occaecat reprehenderit incididunt laboris ut in sunt fugiat quis laboris sint amet fugiat in ullamco ut incididunt esse pariatur ullamco eu deserunt nostrud velit consequat qui minim magna amet ut est in mollit aliquip fugiat excepteur laborum eiusmod dolore dolor ut aute in aliquip sit exercitation aute veniam in mollit consectetur nulla dolor voluptate fugiat aliquip nostrud excepteur aliquip tempor sint dolor officia enim nulla amet pariatur.
    .container
      .row.donation-wrapper
        .col-sm-6.donation-text-wrapper
          h2 Velit eiusmod fugiat pariatur
          span Dolore commodo voluptate nostrud esse enim et ea ex deserunt veniam culpa fugiat sit commodo commodo. Et magna ad duis ad veniam minim aute consectetur eu aliquip occaecat eu et fugiat cillum mollit.
        .col-sm-6.donation-form-wrapper
          form.basic-form
            .basic-form__line
              .basic-form__col
                input.basic-input(placeholder='Ім\'я', type='text')
              .basic-form__col
                input.basic-input(placeholder='Сума', type='number')
              .basic-form__col
                button.basic-btn.yellow Пожертвувати
    .container-fluid
      .title-line-wrapper
        .title-line.title-left.title-orange
          img(src='./images/icons/blue-gear.svg', alt='')
          h2 Платні курси
      .row.articles-row
        .col-md-4.column-wrapper
          .column.right-column
            h3.subtitle Lorem ipsum
            span Pariatur in sunt magna ut enim elit nostrud id velit ea dolore nostrud cillum quis aliquip laborum proident consectetur reprehenderit ut eu laboris amet labore consequat amet labore culpa duis aliqua adipisicing aute magna sit velit magna cupidatat deserunt duis aute laborum sit veniam tempor sed minim dolore ut minim sed tempor ullamco est est esse veniam nisi nostrud ut reprehenderit tempor aliquip occaecat enim fugiat et consequat ullamco dolor velit ex occaecat esse nulla quis nisi exercitation ea ullamco proident veniam culpa officia sed nisi in et ut dolor nisi ut qui eu minim pariatur aliquip culpa non labore est incididunt tempor laborum qui aute in est dolor mollit ad pariatur nulla elit duis magna consectetur commodo dolor eiusmod dolor aute est esse laborum nostrud dolore elit velit irure dolore nulla exercitation reprehenderit reprehenderit in eu velit dolor officia aute amet culpa ut exercitation deserunt.
        .col-md-4.column-wrapper
          .column
            h3.subtitle &nbsp;
            span Minim dolor aute est nisi elit nostrud sit veniam in enim dolore sed occaecat excepteur consectetur velit amet ex nulla ut non nulla excepteur velit aliqua commodo dolor enim eiusmod exercitation occaecat in pariatur sunt magna ut excepteur dolor laboris qui cupidatat consequat in aliquip qui ex duis dolor commodo cillum magna ex reprehenderit laborum eu dolor nisi quis duis ut aliquip commodo nulla nostrud eu incididunt minim pariatur est voluptate fugiat eiusmod ut in proident esse exercitation eiusmod proident excepteur incididunt sunt dolor dolore labore exercitation aute occaecat velit cupidatat reprehenderit in ullamco dolore amet quis tempor anim ex aliquip adipisicing aliqua in officia nulla ad labore in culpa in officia aliqua reprehenderit culpa amet laborum velit ea ad cupidatat cupidatat magna nostrud sunt proident fugiat exercitation mollit laborum minim dolore ut quis dolore ut duis pariatur non laboris cillum id labore non sit incididunt culpa ut adipisicing et cupidatat dolore ex incididunt ut ex minim consectetur sint exercitation eu et anim commodo velit voluptate reprehenderit nulla reprehenderit elit quis minim minim aliquip officia in et magna elit ut esse ad occaecat ullamco qui consectetur ex ad anim eiusmod pariatur exercitation ut eu qui ex eu id ut amet occaecat elit officia cupidatat.
        .col-md-4.column-wrapper
          .column
            img(src='./images/intro-bg.jpg', alt='Image')