extends ../layouts/default


block content
  include ../mixins/partner

  main.content.partners
    h2.content-title Партнери
    .container
      -for(let i=0; i<partners.length; i+=2)
        .row
          -if(partners[i])
            +partner(partners[i])
          -if(partners[i+1])
            +partner(partners[i+1])
