extends ../layouts/default


block content
  main.content.presentations
    h2.content-title Презентації
    .container
      .row
        each presentation in presentations
          +presentation(presentation)
