mixin donation(config)
  .container
    .row
      .donation-wrapper.col-xs-10.col-xs-offset-1.col-md-offset-0.col-md-12
        .col-sm-6.donation-text-wrapper
          h2= config.title
          span!=config.text
        .col-sm-6.donation-form-wrapper
          form.basic-form
            .basic-form__line
              .basic-form__col
                input.basic-input(placeholder='Ім\'я', type='text')
              .basic-form__col
                input.basic-input(placeholder='Сума', type='number')
              .basic-form__col
                button.basic-btn.yellow Пожертвувати