mixin imageContainer(config)
  .col-md-4.column-wrapper
    .column
      img(class= config.imagePosition ? 'image-right' : 'image-left', src= config.image && config.image.url, alt='Cover image')

mixin mission(config)
  if config.showTitle
    .title-line-wrapper
      .title-line(class= config.titlePosition ? 'title-right title-blue' : 'title-left title-orange')
        img(src= config.titlePosition ? '/images/icons/logo-gear.svg' : '/images/icons/blue-gear.svg', alt='')
        h2!=config.title
  .row.articles-row
    if !config.imagePosition
      +imageContainer(config)
    .col-md-4.column-wrapper
      .column(class= config.imagePosition && 'right-column')
        h3.subtitle!= config.subtitle
        span!= config.leftColumn
    .col-md-4.column-wrapper
      .column(class= !config.imagePosition && 'left-column')
        h3.subtitle.unselectable
        span!= config.rightColumn
    if config.imagePosition
      +imageContainer(config)