mixin presentation(config)
  .col-xs-10.col-xs-offset-1.presentation-wrapper
    .row
      .col-sm-6.presentation-desc-wrapper
        h3.presentation-name=config.title
        span.presentation-desc!=config.text
      .col-sm-5.presentation-links-wrapper
        .row
          .col-md-6.button-wrapper
            a(href=config.viewLink).basic-btn.yellow
              span.fa.fa-eye
              span.button-text Дивитись
          .col-md-6.button-wrapper
            a(href=config.downloadLink).basic-btn.yellow
              span.fa.fa-download
              span.button-text Завантажити