include ../mixins/flash-messages

doctype html
html

  //- HTML HEADER
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")

    title= title ? `${title} - RoboClubIF` : 'RoboClubIF'
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

    //- Customise the stylesheet for your site by editing /public/styles/site.sass
    link(href="/styles/site.css", rel="stylesheet")

    script(async, defer, src='/js/build.min.js')

    block css

  body
    .wrapper
      include ./partials/header

      //- Flash messages allow you to display once-off status messages to users, e.g. form
      //- validation errors, success messages, etc.
      +flash-messages(messages)

      block content

      include ./partials/footer
    block js
