$clr-white = #fbfbfb
$clr-black = #424049
$clr-gray = #ececec
$clr-yellow = #f89f4f
$clr-dark-yellow = #de8946
$clr-red = #d86761
$clr-blue = #00a5b6
$inputs-list = 'input[type="email"]', 'input[type="number"]', 'input[type="password"]', 'input[type="search"]', 'input[type="tel"]', 'input[type="text"]', 'input[type="url"]', 'input[type="color"]', 'input[type="date"]', 'input[type="datetime"]', 'input[type="datetime-local"]', 'input[type="month"]', 'input[type="time"]', 'input[type="week"]'
$unquoted-inputs-list = ()
//for $input-type in $inputs-list
//  //Function append is not supported in Stylus
//  //$unquoted-inputs-list = append($unquoted-inputs-list, unquote($input-type), comma)
$all-text-inputs = $unquoted-inputs-list
$inputs-list-f = 'input[type="email"]:focus', 'input[type="number"]:focus', 'input[type="password"]:focus', 'input[type="search"]:focus', 'input[type="tel"]:focus', 'input[type="text"]:focus', 'input[type="url"]:focus', 'input[type="color"]:focus', 'input[type="date"]:focus', 'input[type="datetime"]:focus', 'input[type="datetime-local"]:focus', 'input[type="month"]:focus', 'input[type="time"]:focus', 'input[type="week"]:focus'
$unquoted-inputs-list-f = ()
//for $input-type-f in $inputs-list-f
//  //Function append is not supported in Stylus
//  //$unquoted-inputs-list-f = append($unquoted-inputs-list-f, unquote($input-type-f), comma)
$all-text-inputs-focus = $unquoted-inputs-list-f