.mission {
  .title-line-wrapper {
    margin: 0 0 30px;
    .title-line {
      position: relative;
      color: white;
      display: inline-block;
      h2 {
        margin: 15px 0;
        display: inline-block;
      }
      img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        height: 80%;
        max-height: 60px;
      }
      &.title-blue { background: #00b8d5 }
      &.title-orange { background: #f79f50 }
      &.title-right {
        position: relative;
        border-radius: 30px 0 0 30px;
        h2{
          padding: 0 30px 0 70px;
        }
        img {
          left: 0.5%;
        }
      }
      &.title-left {
        position: relative;
        border-radius: 0 30px 30px 0;
        h2{
          padding: 0 70px 0 30px;
        }
        img {
          right: 0.5%;
        }
      }
    }
  }
  .articles-row {
    .column-wrapper {
      .column {
        text-align: justify;
        .subtitle {
          margin: 0 0 20px 0;
          color: #f79f50;
          &.unselectable:before {
            display: inline-block;
            content: '';
          }
        }
        span {
          display: inline-block;
          text-indent: 30px;
        }
        img {
          width: 100%;
        }
      }
    }
  }
  .donation-wrapper {
    background: #00b8d5;
    padding: 0 0 15px 0;
    position: relative;
    .donation-text-wrapper {
      color: white;
    }
    .donation-form-wrapper {
      height: 100%;
      right: 0;
      .basic-form {
        height: 100%;
        display: flex;
        align-items: center;
        .basic-input {
          background: white;
          color: #00B8D5;
          &::placeholder {color: #00b8d5;}
        }
      }
    }
  }
}

@media (max-width: $screen-md) {
  .mission {
    .title-line {
      text-align: center;
      width: 100%;
    }
    .articles-row {
      .column-wrapper {
        .column img {
          margin: 25px 0;
        }
      }
    }
  }
  .donation-wrapper {
    margin-top: 25px;
    margin-bottom: 25px;
    .donation-text-wrapper {
      h2 {
        text-align: center;
      }
      span {
        text-align: justify;
      }
    }
    .donation-form-wrapper {
      margin-top: 25px;
    }
  }
}

@media (min-width: $screen-md) {
  .mission {
    .title-line {
      width: 60%;
    }
    .title-right {
      left: 40%;
    }
    .title-left {
      h2 {
        float: right;
      }
    }
  }
  .articles-row {
    margin-bottom: 50px;
    .column-wrapper {
      .column {
        &.right-column,
        &.left-column {
          width: 65%;
        }
        &.right-column {
          margin-left: 35%;
        }
        img {
          &.image-right { border-radius: 5px 0 0 5px }
          &.image-left { border-radius: 0 5px 5px 0 }
        }
      }
    }
  }
  .donation-wrapper {
    margin: 0 0 50px 0;
    .donation-text-wrapper {
      span {
        font-size: 0.75em;
      }
    }
    .donation-form-wrapper {
      position: absolute;
    }
  }
}