.section-msg {
  padding: 120px 0 100px;
  text-align: center;

  &__title {
    font-size: 100px;
    font-weight: bold;
    color: #eba352;
  }

  &__info {
    margin: 0 0 3em;
  }

  &__back {

    .fa {
      margin-right: 5px;
    }
  }
}
