.contacts-section {
  position: relative;
  background: #00b8d4;
  color: #fff;
  min-height: 400px;

  @media screen and (max-width: 768px) {
    padding: 0;
  }

  .section__title{
    text-align: left;

    @media screen and (max-width: 768px) {
      text-align: center;
    }

  }

  &__info{
    // display: flex;
    // margin-bottom: 34px;
    @media (max-width: 480px) { font-size: 3vw }
    @media (min-width: 480px) { font-size: 13px }
  }


  &__info-item{
    margin: 1em 0;
    // white-space: nowrap;
    display: flex;
    align-items: center;
    &:last-child {
      justify-content: flex-end;
      text-align: right;
    }
    i{
      margin-right: 0.5em;
      font-size: 24px;
    }

    p{
      text-align: left;
      display: inline-block;
      padding: 0;
      margin: 0 0 0 0.5em;
    }

    a {
      color: inherit;

      &:hover {
        color: inherit;
        text-decoration: underline;
      }
    }
  }

  .basic-form {
    .captcha-wrapper {
      img {
        width: 100%;
      }
    }
    .submit-button-wrapper {
      margin-bottom: 1em;
      button {
        min-width: 0;
        width: 100%;
      }
    }
  }

  .map-wrapper{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 50%;
    #map {
      background: url(/images/map.png);
      background-position: center center;
      background-size: 150%;
    }

    @media screen and (max-width: 767px) {
      position: relative;
      height: 450px;
      left: 0;
      padding-top: 35px;
    }

    &:after{
      content: '';
      position: absolute;
      left: 0;
      top: 28px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 37px 0 37px 37px;
      border-color: transparent transparent transparent #00b8d4;
      z-index: 1;

      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    #map{
      width: 100%;
      height: 100%;
    }
  }
}

.footer {
	border-top: 1px solid #beedf3;
	background: #00a6b6;
	padding: 15px;
}

.f-copy{
	color: #fff;
	font-size: 12px;
	text-align: center;
	padding: 0;
	margin: 0;
  a {
    color: white;
    text-decoration: underline;
  }
}
